

<div ng-controller='indexCtrl as index'>
    <nav class="navbar navbar-nav navbar-collapse fixed-top navbar-toggleable-md navbar-inverse bg-inverse" >
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#/"></i> Guider</a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a Style="color:white;" class="nav-link" href="#/"><i class="fa fa-home" aria-hidden="true"></i> Home<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

	 
<!-- Middle Section--->
<section class="section-back  text-center">
					<br><br><br>
									
					<div class="modal-dialog row " ng-init="index.getId()">
					<h4 class="mb-5 text-white" > New Password  </h1>				
					<div class="bg-fad p-4">
							
						<form   method="POST" enctype="application/x-www-form-urlencoded" ng-submit="index.change()">  <!---->
							<input type="hidden" name="_method" value="PUT">				
							<div  class="form-group">
								
								<input type="password" class="form-control" placeholder="Enter New Password" ng-model="index.password" name="password"  required = "true"> <!---->
							</div>
						    <button type="submit" name="submit" class="btn btn-xl btn-primary">Submit</button>
						</form>
					</div>
					</div>
</section>
</div>
<!--Middle Section end-->


<!--Footer-->    
 <footer class="py-2 bg-inverse hi">
  <div class="container">
    <p class="m-0 text-center text-white text-align">&copy; www.Guider.Com 2018. All Rights Reserved.</p>
  </div>
</footer>
