

    <!-- Page Content -->
	

		
	 <div class="masthead"> 	
			<center>
    		<h1 class="mb-3">Guider</h1>
       <h5 class="mb-3">Ticket Based Support System</h5>
			</center>	
	<div class="container ">
		<div class="row">
		
        <div class="col-lg-7">
	
		<h1 class="mb-5">Have Problem?</h1>
          <p><h2> No Worries  Guider Is There
          <h4> An Ticket Based Support System </p>
          <h5 class="mb-5">Get Your Solution !</h1>
            <a href="" class="btn2 btn-outline btn-xl js-scroll-trigger" data-toggle="modal" data-target="#signupModal">Signup</a>     
        </div>
		<div class="col-lg-5">
          <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <img src="images/group.png" class="img-fluid" alt="">
        </div>
        </div>
	</div>	
	</div>			
        <!-- /.row -->
  <!-- Footer -->
    
 <footer class="py-2 bg-inverse hi">
  <div class="container">
    <p class="m-0 text-center text-white text-align">&copy; www.Guider.Com 2018. All Rights Reserved.</p>
  </div>
</footer>


   